<?xml version="1.0" encoding="UTF-8"?>
<web-app 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
id="WebApp_ID" version="6.0">
  <display-name>PGify.com</display-name>
  <welcome-file-list>
    <welcome-file>PGify.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>PGify_Register_Filter</display-name>
    <filter-name>PGify_Register_Filter</filter-name>
    <filter-class>PGify_Register_Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PGify_Register_Filter</filter-name>
    <url-pattern>/user_register</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PGify_Registration</display-name>
    <servlet-name>PGify_Registration</servlet-name>
    <servlet-class>PGify_Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGify_Registration</servlet-name>
    <url-pattern>/user_register</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>PGify_Login_Filter</display-name>
    <filter-name>PGify_Login_Filter</filter-name>
    <filter-class>PGify_Login_Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PGify_Login_Filter</filter-name>
    <url-pattern>/user_login</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PGify_Login</display-name>
    <servlet-name>PGify_Login</servlet-name>
    <servlet-class>PGify_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PGify_Login</servlet-name>
    <url-pattern>/user_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgot_pswd_PGify</display-name>
    <servlet-name>Forgot_pswd_PGify</servlet-name>
    <servlet-class>Forgot_pswd_PGify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot_pswd_PGify</servlet-name>
    <url-pattern>/forgot_pswd</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>New_pswd_Filter</display-name>
    <filter-name>New_pswd_Filter</filter-name>
    <filter-class>New_pswd_Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>New_pswd_Filter</filter-name>
    <url-pattern>/New_pswd</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>New_pswd_PGify</display-name>
    <servlet-name>New_pswd_PGify</servlet-name>
    <servlet-class>New_pswd_PGify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>New_pswd_PGify</servlet-name>
    <url-pattern>/New_pswd</url-pattern>
  </servlet-mapping>
</web-app>